$mainFontFamily: "Neue Montreal";
$recklessFontFamily: "Reckless Neue";

$blackColor: #000;
$whiteColor: #fff;
$stormyColor: #323334;
$smokeColor: #4e4f51;
$ashColor: #7c7f84;
$linenColor: #f8f4e7;
$oysterColor: #dfdedb;
$cloudyColor: #f5f4f3;
$opalColor: #384353;

$mainColor: $stormyColor;

$fs96: 96px;
$fs72: 72px;
$fs56: 56px;
$fs36: 36px;
$fs24: 24px;
$fs20: 20px;
$fs19: 19px;
$fs18: 18px;
$fs16: 16px;
$fs15: 15px;
$fs14: 14px;
$fs12: 12px;
$fs10: 10px;

$mainFontSize: $fs15;

$fw100: 100;
$fw200: 200;
$fw300: 300;
$fw400: 400;
$fw500: 500;
$fw600: 600;
$fw700: 700;
$fw800: 800;
$fw900: 900;
